{% extends "main/templates/layout.html" %}
{% block title %}Список объектов{% endblock %}
{% block content %}
    <div class="button-bar">
        <span>
            <form action="{% url 'main:create_object' %}">
                <button type="submit" value="Создать">Создать объект</button>
            </form>
        </span>
        <span>
            <a href="{% url 'main:export_objects'  %}?{{ request.GET.urlencode }}">
                <button type="submit" value="Создать">Выгрузить</button>
            </a>
        </span>
        <span>
            {{ msg }}
        </span>
        <div id="filter-button">
            <span>
                {% if filtered_by == 'all' %} Фильтрация отсутствует.
                {% else %} Объекты отфильтрованы по: {{ filtered_by }}</span>
                {% endif %}
            <button type="submit" form="filter_reset" value="Сбросить" >Сбросить</button>
            <input type="button" value="Фильтр" onmousedown="showhide('filter')" id="filter-button-dynamic">
            <form id="filter_reset">
                <a href={% url 'main:objects' %}>
                </a>
            </form>
        </div>
        <div id="filter">
            <div class="filter-content">
            <form id="filter_form" method="get" action="{% url 'main:objects' %}">
                    {{ filter_form.as_p }}
            </form>
            </div>
            <div id="filter-button-bar">
                <button type="submit" form="filter_form" value="Применить">Применить</button>
            </div>
        <!-----------------------------------------ajax------------------------------------------------------------>
            <script src="/static/main/script/jquery.js"></script>
            <script src="/static/main/script/filter.js"></script>
        <!-----------------------------------------ajax------------------------------------------------------------>
        </div>
    </div>
    <div id="filter">
        <div class="filter-content">
            <form id="filter_form" method="get" action={% url 'main:structure' %}>
                <span>Фильтровать по цеху:</span>
                <p>
                    <select name="ceh" form="filter_form">
                             {% for i in ceh %}
                                <option value="{{ i }}">{{ i }}</option>
                             {% endfor %}
                    </select>
                </p>
            </form>
        </div>
        <div id="filter-button-bar">
            <button type="submit" form="filter_form" value="Применить">Применить</button>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <table>
               <tr>
                    <th>Объект</th>
                    <th>Подразделение</th>
                    <th>Координаты<br>С.Ш.<br>В.Д.</th>
                    <th>АМС</th>
                    <th>ОЗП</th>
                    <th>РЭС</th>
                    <th>РИЧ</th>
                    <th>Технические условия</th>
                    <th>Техническая документация</th>
                    <th>Схемы</th>
                    <th>Фотографии</th>
               </tr>
           <tr>
            {% if objectlist %}
                {% for i in objectlist %}
                    <tr>
                        <td><a href="{{ i.get_absolute_url  }}">{{ i.object_name }}</a></td>
                        <td>{{ i.uchastok.ceh }} {{ i.uchastok.uchastok }}</td>
                        <td align="center">{{ i.position.latitude_degrees }}°{{ i.position.latitude_minutes }}'
                            {{ i.position.latitude_seconds }}" <br>{{ i.position.longitude_degrees }}°{{ i.position.longitude_minutes }}'
                            {{ i.position.longitude_seconds }}"</td>
                        <td align="center">
                            {% if i.ams %}
                                <a href="{{ i.ams.get_absolute_url }}"><i class="fa-solid fa-tower-cell"></i></a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.ozp.all %}
                                <a href="{% url 'main:ozp' %}?object={{ i }}"><i class="fa-solid fa-snowflake"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.res.all %}
                                <a href="{% url 'rich:rich_index' %}?object={{ i }}">
                                    <i class="fa-solid fa-rss"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.is_rich %}
                                <a href="{% url 'rich:rich_list' %}?object={{ i }}">
                                    <i class="fa-solid fa-file-lines"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.tu.all %}
                                <a href="{% url 'main:tu_list' %}?object={{ i }}">
                                    <i class="fa-solid fa-folder"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.tehdoc.all %}
                                <a href="{% url 'main:tehdoc_list' %}?object={{ i }}">
                                    <i class="fa-solid fa-folder"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.scheme.all %}
                                <a href="{% url 'main:scheme_list' %}?object={{ i }}">
                                    <i class="fa-solid fa-folder"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if i.foto.all %}
                                <a href="{% url 'main:object_foto_list' %}?object={{ i }}">
                                    <i class="fa-solid fa-folder"></i>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Записи с заданными критериями поиска отсутствуют</p>
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}