{% extends "main/templates/layout.html" %}
{% block content %}
            <div class="button">
                <a href="{% url 'main:objects' %}" id="link2">
                <span class="button-text">Объекты Управления связи</span>
                </a>
            </div>
            <div class="button">
                <a href="{% url 'main:rrl_line' %}" id="line">
                <span class="button-text">Магистральные линии связи</span>
                </a>
            </div>
            <div class="button" >
                <a href="{% url 'main:structure' %}" id="US">
                <span class="button-text">Пользователи</span>
                </a>
            </div>
            <div class="button" >
                <a href="{% url 'main:tu_list' %}" id="TU">
                <span class="button-text">Технические условия</span>
                </a>
            </div>
            <div class="button" >
                <a href="{% url 'main:tehdoc_list' %}" id="TEHDOC">
                <span class="button-text">Техническая документация</span>
                </a>
            </div>
            <div class="button" >
                <a href="{% url 'main:scheme_list' %}" id="SCHEME">
                <span class="button-text">Схемы</span>
                </a>
            </div>
{% endblock %}