{% extends "main/templates/layout.html" %}
{% block title %}Список объектов{% endblock %}
{% block content %}
    <div class="button-bar">
        <span>
            <form action="{% url 'main:ozp_create' %}">
                <button type="submit" value="Создать">Создать запись</button>
            </form>
        </span>
        <span>
            <a href="{% url 'main:export_xls_ozp' %}?{{ request.GET.urlencode }}">
                <button type="submit">Выгрузить</button>
            </a>
        </span>
        <div id="filter-button">
            <span>
                {% if filtered_by == '' %} Фильтрация отсутствует.
                {% else %} Объекты отфильтрованы по: {{ filtered_by }}</span>
                {% endif %}
            <button type="submit" form="filter_reset" value="Сбросить" >Сбросить</button>
            <input type="button" value="Фильтр" onmousedown="showhide('filter')" id="filter-button-dynamic">
            <form id="filter_reset">
                <a href={% url 'main:ozp' %}>
                </a>
            </form>
        </div>
    </div>
    <div id="filter">
            <div class="filter-content">
                <form id="filter_form" method="get" action={% url 'main:ozp' %}>
                    {{ filter_form.as_p }}
                    <span>Фильтровать по выполненным:</span>
                    <p>
                        <select name="vipolnenie" form="filter_form">
                            <option value="all">Показать все</option>
                            <option value="1">Показать только выполненные</option>
                            <option value="0">Показать только не выполненные</option>
                        </select>
                    </p>
                    <span>Фильтровать по заявленным на выполнение:</span>
                    <p>
                        <select name="na_vipolnenie" form="filter_form">
                            <option value="all">Показать все</option>
                            <option value="1">Показать только заявленные</option>
                            <option value="0">Показать только незаявленные</option>
                        </select>
                    </p>
                    <span>Фильтровать по году выполнения:</span>
                    <p>
                        {% for i in year %}
                        <input type="checkbox" name="year_{{ i }}" value="{{ i }}" checked>{{ i }}
                        {% endfor %}
                    </p>
                    <span>Фильтровать по замечаниям которые необходимо выполнить в течении месяца:</span>
                    <p>
                        <select name="this_month" form="filter_form">
                            <option value="all">Показать все</option>
                            <option value="this_month">Показать замечания со сроком выполнения в этом месяце</option>
                        </select>
                    </p>
                </form>
            </div>
            <div id="filter-button-bar">
                <button type="submit" form="filter_form" value="Применить">Применить</button>
            </div>
        <!-----------------------------------------ajax------------------------------------------------------------>
        <script src="/static/main/script/jquery.js"></script>
        <script src="/static/main/script/filter.js"></script>
    <!-----------------------------------------ajax------------------------------------------------------------>
    </div>
    <div class="content">
        <div class="table">
            <table>
                <tr class="head_row">
                    <th>К замечанию</th>
                    <th>Объект</th>
                    <th>Содержание замечания</th>
                    <th>Нормативная документация</th>
                    <th>Фото замечания</th>
                    <th>Контрольная дата</th>
                    <th>Дата устранения</th>
                    <th>Подано на устранение</th>
                    <th>Выполнение</th>
                </tr>
                {% if objectlist %}
                    {% for i in objectlist %}
                        <tr class="table_row">
                            <td align="center">
                                <a href="{{ i.get_absolute_url }}" class="ozp-link">
                                <img src="static/main/img/strelka.png" height="50" width="50">
                                </a>
                            </td>
                            <td>
                                <a href="{{ i.object_name.get_absolute_url }}" >
                                    {{ i.object_name.object_name }}
                                </a>
                            </td>
                            <td>{{ i.zamechanie_ozp }}</td>
                            <td>{{ i.normative_documentation }}</td>
                            <td class="foto_collumn">
                                {% for z in i.foto_zamechania.all %}
                                    <a href="{{ z.foto.url }}" target="_blank">
                                        <img src="{{ z.foto.url }}" height="50">
                                    </a>
                                {% endfor %}
                            </td>
                            <td align="center">
                                {% if i.control_date %}
                                    {{ i.control_date }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.zakrytie_date %}
                                    {{ i.zakrytie_date }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.podano_na_vipolnenie.podano == 1 %}
                                    <img src="static/main/img/Exclamation-Mark-Transparent-PNG.png" height="20" width="20">
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.is_done == 0 %}
                                    <img src="static/main/img/free-png.ru-388.png" height="20" width="20">
                                {% else %}
                                    <img src="static/main/img/free-png.ru-39.png" height="20" width="20">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Замечания отсутствуют</p>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}