{% extends "main/templates/layout.html" %}
{% block title %}Список объектов{% endblock %}
{% block content %}
    <div class="button-bar">
        <span>
            <form action="{% url 'main:user_create' %}">
                <button type="submit" value="Создать">Создать</button>
            </form>
        </span>
        <span>
            {{ msg }}
        </span>
    <!-------------------------------------------------------------------->
        <div id="filter-button">
            <span>
                {% if filtered_by == 'all' %} Фильтрация отсутствует.
                {% else %} Объекты отфильтрованы по: {{ filtered_by }}</span>
                {% endif %}
            <button type="submit" form="filter_reset" value="Сбросить" >Сбросить</button>
            <input type="button" value="Фильтр" onmousedown="showhide('filter')" id="filter-button-dynamic">
            <form id="filter_reset">
                <a href={% url 'main:structure' %}>
                </a>
            </form>
        </div>
    <!-------------------------------------------------------------------->
    </div>
    <!-------------------------------------------------------------------->
    <div id="filter">
        <div class="filter-content">
            <form id="filter_form" method="get" action={% url 'main:structure' %}>
                <span>Фильтровать по подразделению:</span>
                <p>
                    <select name="department" form="filter_form">
                         <option value="all" selected>Все</option>
                         {% for i in department %}
                            <option value="{{ i.id }}">{{ i }}</option>
                         {% endfor %}
                    </select>
                </p>
            </form>
        </div>
        <div id="filter-button-bar">
            <button type="submit" form="filter_form" value="Применить">Применить</button>
        </div>
    </div>
    <!-------------------------------------------------------------------->
    <div class="content">
        <!-------------------------------------------------------------------->
        {% for i in objectlist %}
            <div id="user_delete_{{ i.id }}" class="change_form_ozp">
                <form method="post" action="{% url 'main:user_delete' i.id %}">
                    {% csrf_token %}
                    Вы действительно хотите удалить выбранного пользователя {{ i.username }}???
                    <br><br>
                    <input type="submit" value="Удалить">
                    <button onmousedown="showhide_changeform('user_delete_{{ i.id }}')" class="close_button">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </form>
            </div>
        {% endfor %}
        <!-------------------------------------------------------------------->
        <div class="table">
            <table>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Пользователь</th>
                    <th>Подразделение</th>
                    <th>Статус</th>
                    <th width="30 px">Удалить пользователя</th>
                </tr>
            <!-------------------------------------------------------------------->
                <tr>
            {% if objectlist %}
                {% for i in objectlist %}
                    <tr>
                        <td><a href="{% url 'account:user_detail' i.id %}">{{ i }}</a></td>
                        <td>{{ i.first_name }} {{ i.last_name }}</td>
                        <td>{{ i.profile.department }}</td>
                        <td align="center">
                            {% if i.is_online %}
                                <svg height="20" width="20">
                                    <circle cx="10" cy="10" r="5" stroke="green" stroke-width="3" fill="green" />
                                </svg>
                            {% else %}
                                <svg height="20" width="20">
                                    <circle cx="10" cy="10" r="5" stroke="red" stroke-width="3" fill="red" />
                                </svg>
                            {% endif %}
                        </td>
                        <td align="center">
                            <button onmousedown="showhide_changeform('user_delete_{{ i.id }}')" class="close_button">
                                    <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <!-------------------------------------------------------------------->
            {% else %}
                <p>Записи отсутствуют</p>
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
