{% extends "main/templates/layout.html" %}
{% block title %}АМС{% endblock %}
{% block content %}
    <div class="button-bar">
        <span>
            <form action="{% url 'ams:ams_create' %}">
                <button type="submit" value="Создать">Создать объект</button>
            </form>
        </span>
        <span>
            <a href="{% url 'ams:export_xls_ams' %}?{{ request.GET.urlencode }}">
                <button type="submit">Выгрузить</button>
            </a>
        </span>
        {{ msg }}
        <div id="filter-button">
            <span>
                {% if filtered_by == '' %} Фильтрация отсутствует.
                {% else %} Объекты отфильтрованы по: {{ filtered_by }}</span>
                {% endif %}
            <button type="submit" form="filter_reset" value="Сбросить" >Сбросить</button>
            <input type="button" value="Фильтр" onmousedown="showhide('filter')" id="filter-button-dynamic">
            <form id="filter_reset">
                <a href={% url 'ams:ams' %}>
                </a>
            </form>
        </div>
    </div>
    <!-----------------------------------------filter----------------------------------------------------------------->
    <div id="filter">
            <div class="filter-content">
                <form id="filter_form" method="get" action="{% url 'ams:ams' %}">
                    {% csrf_token %}
                    {{ filter_form.as_p }}
                    <span>Выбрать АМС высотой</span>
                    <p>
                       от <input type="number" name="min_visota" min="0" max="300" value="0"> м до
                        <input type="number" name="max_visota" min="0" max="300" value="300"> м
                    </p>
                    <span>Выбрать АМС по отклонению</span>
                    <p>
                        <select name="otklonenie" form="filter_form">
                            <option value="all" selected>Показать все</option>
                            <option value="1">Показать с отклонением</option>
                            <option value="0">Показать без отклонения</option>
                            <option value="2">Показать АМС для которых отсутствуют результаты измерений</option>
                        </select>
                    </p>
                </form>
            </div>
            <div id="filter-button-bar">
                <button type="submit" form="filter_form" value="Применить">Применить</button>
            </div>
    <!-----------------------------------------ajax------------------------------------------------------------>
    <script src="/static/main/script/jquery.js"></script>
    <script src="/static/main/script/filter.js"></script>
    <!-----------------------------------------ajax------------------------------------------------------------>
    </div>
    <div class="content">
        <!-------------------------------------------------------------------->
        {% for i in object %}
        <div id="delete_ams_{{ i.id }}" class="change_form_ozp">
            <form method="post" action="{% url 'ams:delete_ams' i.id %}">
                {% csrf_token %}
                Вы действительно хотите удалить запись???
                <br><br>
                <input type="submit" value="Удалить">
                <button onmousedown="showhide_changeform('delete_ams_{{ i.id }}')" class="close_button">
                <i class="fa-solid fa-xmark"></i>
                </button>
            </form>
        </div>
        {% endfor %}
        <!-------------------------------------------------------------------->
        <div class="table">
            <table>
                <tr class="head_row">
                    <th>Детали</th>
                    <th>Объект</th>
                    <th>Высота АМС</th>
                    <th>Тип АМС</th>
                    <th>ПД</th>
                    <th>ДО</th>
                    <th>Измерения</th>
                    <th>СЭЗ</th>
                    <th>Схема</th>
                    <th>Паспорт</th>
                    <th>Фото</th>
                    <th>Отклонение</th>
                </tr>
                {% if object %}
                    {% for i in object %}
                        <tr class="table_row">
                            <td align="center">
                                <a href="{{ i.get_absolute_url }}" class="ozp-link">
                                    <img src="/static/ams/img/strelka.png" height="50" width="50" alt="детали">
                                </a>
                            </td>
                            <td>{{ i.object_name }}</td>
                            <td align="center">{{ i.height }} м</td>
                            <td align="center">{{ i.type }}</td>
                            <td align="center">
                                {% if i.project.all %}
                                    <a href="{% url 'ams:project_list' i.id %}">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.diagnostic.all %}
                                    <a href="{% url 'ams:do_list' i.id %}">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.protocol.all %}
                                    <a href="{% url 'ams:measurement_list' i.id %}">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.sez.all %}
                                    <a href="{% url 'ams:sez_list' i.id %}">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.scheme %}
                                    <a href="{{ i.scheme.url }}">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.passport %}
                                    <a href="{{ i.passport.url }}">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if i.foto.all %}
                                    <a href="{% url 'ams:foto_list' i.id %}">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td align="center">
                            {% if i.protocol.all %}
                                {% if i.get_last_otklonenie.is_otklonenie %}
                                    <img src="/static/main/img/Exclamation-Mark-Transparent-PNG.png" height="20" width="20">
                                    {{ i.get_last_otklonenie.otklonenie }} мм
                                {% else %}
                                    <img src="/static/main/img/free-png.ru-39.png" height="20" width="20">
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Записи отсутствуют</p>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}