{% extends "main/templates/layout.html" %}
{% block title %}Протоколы измерений{% endblock %}
{% block content %}
    <div class="button-bar">
        <span>
            <button onmousedown="showhide_changeform('measurement')">
                Добавить
            </button>
        </span>
        <span>
            <a href="{% url 'ams:ams' %}">
                <button type="submit" >Назад</button>
            </a>
        </span>
        {{ msg }}
    </div>
    <div class="content">
        <!-------------------------------------------------------------------->
        {% for i in measurement_list %}
        <div id="measurement_delete_{{ i.id }}" class="change_form_ozp">
            <form method="post" action="{% url 'ams:measurement_delete' i.id %}">
                {% csrf_token %}
                Вы действительно хотите удалить запись???
                <br><br>
                <input type="submit" value="Удалить">
                <button onmousedown="showhide_changeform('measurement_delete_{{ i.id }}')" class="close_button">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </form>
        </div>
        {% endfor %}
        <!-------------------------------------------------------------------->
        <div id="measurement" class="change_form_ozp">
            <form method="post" action="{% url 'ams:add_measurement_list' ams.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ measurement_form.as_p }}
                <input type="submit" value="Добавить">
                <button onmousedown="showhide_changeform('measurement')" class="close_button">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </form>
        </div>
        <!-------------------------------------------------------------------->
        <div class="table">
            <table>
                <tr class="head_row">
                    <th>Дата</th>
                    <th>Протокол</th>
                    <th>Отклонение</th>
                    <th>Допуск</th>
                    <th>Превышение отклонения</th>
                    <th>Удалить</th>
                </tr>
                {% if measurement_list %}
                    {% for i in measurement_list %}
                        <tr class="table_row">
                            <td>{{ i.year }}</td>
                            <td align="center">
                                <a href="{{ i.protocol_pdf.url }}" target="_blank">
                                    <i class="fa-solid fa-file-lines"></i>
                                </a>
                            </td>
                            <td>{{ i.results }} мм</td>
                            <td>{{ ams.height }} мм</td>
                            <td align="center">
                                {% if i.is_otklonenie %}
                                    <img src="/static/main/img/Exclamation-Mark-Transparent-PNG.png" height="20" width="20">
                                    {{ i.otklonenie }} мм
                                {% else %}
                                    <img src="/static/main/img/free-png.ru-39.png" height="20" width="20">
                                {% endif %}
                            </td>
                            <td align="center">
                                <button onmousedown="showhide_changeform('measurement_delete_{{ i.id }}')" class="close_button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Записи отсутствуют</p>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}