{% extends "main/templates/layout.html" %}
{% block content %}
            <div class="button">
                <a href="{% url 'rich:rich_index' %}" id="res_button">
                <span class="button-text">РЭС</span>
                </a>
            </div>
            <div class="button">
                <a href="{% url 'rich:rich_list' %}" id="rich_button">
                <span class="button-text">РИЧ</span>
                </a>
            </div>
            <div class="button" >
                <a href="{% url 'rich:reg_list' %}" id="registration_button">
                <span class="button-text">Регистрация</span>
                </a>
            </div>
{% endblock %}