{% extends "main/templates/layout.html" %}
{% block content %}
    <div class="list">
        <div>Вы вошли как {{  user.get_full_name  }}. <br>На данной странице представлена информация о вашей учетной записи:</div>
        <br>
        <div>Имя:
            <b>{{  user.first_name  }}</b>
        </div>
        <br>
        <div>
            Фамилия: <b>{{  user.last_name  }}</b>
        </div>
        <br>
        <div>
            Почтовый адрес: <b>{{  user.email  }}</b>
        </div>
        <br>
        <div>
            Подразделение: <b>{{ user.profile.department }}</b>
        </div>
        <br>
        <div>
            Дата регистрации: <b>{{ user.date_joined }}</b>
        </div>
        <br>
        <div>
            <form action="{% url 'account:change_password' %}">
                <button>Сменить пароль</button>
            </form>
        </div>
        <br>
        <p>Для изменения информации о вашей учетной записи обратитесь к администратору.</p>
    </div>
{% endblock %}